{% extends "base.html" %}
{% block content %}
{% load has_group %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> All Universities </h3>
                    {% if request.user|has_group:"admin" or request.user|has_group:"superAdmin" %}
                            <a class="btn btn-secondary" href="{% url 'university_add' %}"> Add University </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for university in university_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-name"> {{ university.name }} </h2>
                    <p class="card-text text-muted h6"> {{ university.state }} | {{ university.city }} | {{ university.studentPopulation }} </p>
                    <p class="card-text"> {{ university.domain }} </p>
                    <a href="{% url 'university_detail' university.pk  %}" class="btn btn-primary"> Details </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
